python-multipart
sentencepiece
Pillow
transformers
huggingface-hub
ultralytics
starlette
pydantic
typing-extensions
annotated-types
pydantic-core
typing-inspection
anyio
idna
sniffio
click
h11
colorama
httptools
python-dotenv
PyYAML
watchfiles
websockets
filelock
fastapi
uvicorn[standard]
opencv-python-headless
numpy
torch
